langchain==0.3.7
langchain-openai==0.2.9
langchain-community==0.3.7
langchain-chroma==0.1.4
streamlit==1.39.0
python-dotenv==1.0.1
chromadb==0.5.20
tiktoken==0.8.0
langsmith==0.1.144
sentence-transformers==3.3.1
reportlab==4.0.9
